* {
    font-family: sans-serif;
    font-size: 30px;
    background-color: chartreuse;
    color: white;
    padding: 5px;
    border: 0;
    margin: 10px;
    margin-top: 90px;
    margin-left: 20px;
  }
  
  input {
    margin-right: 0;
    background-color: gray;
    outline: none;
  }
  
  span {
    padding: 9px;
    background-color: black;
  }
  
  b {
    display: inline-block;
    width: 40px;
    margin-left: 0px;
    background-color: #222;
  }
  